
*.log
WholesomeGameJam2022/Library/ArtifactDB-lock
WholesomeGameJam2022/Library/SourceAssetDB-lock
WholesomeGameJam2022/Library/ArtifactDB-lock
WholesomeGameJam2022/Library/SourceAssetDB-lock
WholesomeGameJam2022/Library/SourceAssetDB-lock
